:root {
  --dark-grey: #adb5bd;
}

.main-heading {
  color: var(--dark-grey);
}

.input-label {
  font-size: 0.8rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .text-orientation-upright {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}
